aiohttp
aiosignal
APScheduler
asgiref
async-asgi-testclient
async-timeout
attrs
certifi
charset-normalizer
click
colorama
frozenlist
h11
idna
iniconfig
loguru
msgpack
multidict
nonebot-adapter-onebot
nonebot-plugin-apscheduler
nonebot2
nonebug
numpy
packaging
Pillow
pluggy
pydantic
pygtrie
pytest
pytest-asyncio
python-dotenv
pytz
requests
six
typing_extensions
tzdata
tzlocal
ujson
urllib3
uvicorn
wcwidth
websockets
wget
win32-setctime
yarl
